<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        ...
    </head>
    <body>
        <div th:fragment="header">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Login</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ThreeJs</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{/webgl_animation_cloth}">webgl_animation_cloth</a>
                        <a class="dropdown-item" th:href="@{/css3d_periodictable}">css3d_periodictable</a>
                        <a class="dropdown-item" th:href="@{/css3d_molecules}">css3d_molecules</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/webgl_custom_attributes_lines}">webgl_custom_attributes_lines</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>
    </body>
</html>