<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
	<h1>spring security custom login page</h1>
	<form th:action="@{/login}" method="post">
		<div th:if="${param.error != null}">
			<p>
				Invalid username and password.
			</p>
		</div>
		<div th:if="${param.logout != null}">
			<p>
				You have been logged out.
			</p>
		</div>
		<p>
			<label for="username">Username</label>
			<input type="text" id="username" name="username"/>
		</p>
		<p>
			<label for="password">Password</label>
			<input type="password" id="password" name="password"/>
		</p>
		<input type="hidden"
			   name="${_csrf.parameterName}"
			   value="${_csrf.token}"/>
		<button type="submit" class="btn">Log in</button>
	</form>
	</body>
</html>
